<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918260224461-fo992b8k9d5gv0q6mk4ogfq9530kd40c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918260224461-fo992b8k9d5gv0q6mk4ogfq9530kd40c</string>
	<key>API_KEY</key>
	<string>AIzaSyDv3WOqrpC-etvltjU8Eqwj7QyzHAO5CAY</string>
	<key>GCM_SENDER_ID</key>
	<string>918260224461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TMS37.Daywear</string>
	<key>PROJECT_ID</key>
	<string>daywear-58aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>daywear-58aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918260224461:ios:3c746625b89db0c5eef484</string>
</dict>
</plist>